.system-title {
    font-size: 1.5em;
}

#icon {
    font-size: 1.5em;
}

.layui-input {
    width: 16em;
}

.layui-form-label {
    width: 7em;
}

#roomAdd, #roomEdit {
    display: none;
    margin-top: 2em;
}
