.system-title {
    font-size: 1.5em;
}

.layui-icon-tree {
    font-size: 1.5em;
}

#search {
    padding-top: 0.4cm;
}

#search-input {
    padding-left: 12px;
    color: #cccccc;
    background-color: #424652;
    background-color: rgba(255,255,255,.05);
    border: none 0;
    height: 30px;
}

.layui-book-input {
    width: 16em;
}

.layui-form-label {
    width: 7em;
}

#top-bar {
    background-color: #393D49;
}

.layui-body {
    left: 100px;
    right: 100px;
    top: 100px;
}

#index-footer {
    text-align: center;
    left: 0;
}

#meetingModify {
    display: none;
    margin-top: 2em;
}