<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MBS Admin System</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><i class="layui-icon layui-icon-username" id="icon"></i><span class="system-title">Admin</span></div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/image/admin.svg}" class="layui-nav-img" alt="">
                    Admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">Profile</a></dd>
                    <dd><a href="">Modify Record</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/admin/logout}">Sign Out</a></li>
        </ul>

    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- Left navigate area -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a th:href="@{/admin}">Meeting Rooms</a></li>
                <li class="layui-nav-item"><a th:href="@{/admin/users}">Users</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- main body area -->
        <div style="padding: 15px;">
            <table id="adminRoomTable" lay-filter="roomTable"></table>
        </div>
    </div>

    <script type="text/html" id="bar">
        <button class="layui-btn layui-btn-sm  layui-btn-normal" lay-event="edit"> <i class="layui-icon">&#xe642;</i>Edit</button>
        <button class="layui-btn layui-btn-sm  layui-btn-danger" lay-event="del"><i class="layui-icon">&#xe640;</i>Delete</button>
    </script>

    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>Create New Room</button>
        </div>
    </script>

    <div class="layui-footer">
        <!-- footer -->
        © JI Meeting Room Booking Admin System
    </div>
</div>

<div id="roomAdd">
    <div class="new-room-form">
        <form id="addRoomForm" class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">Room Number</label>
                <div class="layui-input-block">
                    <input type="text" name="roomNumber"  required  lay-verify="required" placeholder="Room number" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Capacity</label>
                <div class="layui-input-block">
                    <input type="text" name="capacities" required  lay-verify="required" placeholder="Capacity" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Price</label>
                <div class="layui-input-block">
                    <input type="text" name="price" required  lay-verify="required" placeholder="Price" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="submitRoomFormButton">Submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="roomEdit">
    <div class="new-room-form">
        <form id="editRoomForm" class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">Room Number</label>
                <div class="layui-input-block">
                    <input type="text" id="editRoomNumber" disabled name="roomNumber" lay-verify="required" placeholder="Room number" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Capacity</label>
                <div class="layui-input-block">
                    <input type="text" id="editRoomCapacity" name="capacities" required  lay-verify="required" placeholder="Capacity" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Price</label>
                <div class="layui-input-block">
                    <input type="text" id="editRoomPrice" name="price" required  lay-verify="required" placeholder="Price" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="editRoomFormButton">Submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.2.1/dist/jquery.js}"></script>
<script th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
<script th:inline="javascript">

    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#adminRoomTable'
            ,url:'/rooms'
            ,toolbar: '#toolbar'
            ,cellMinWidth: 80
            ,size: 'lg'
            ,cols: [
                [
                    {field:'roomNumber', title: 'Meeting Room Number', sort: true}
                    ,{field:'capacities',  title: 'Capacity'}
                    ,{field:'price',  title: 'Price'}
                    ,{fixed:'', align:'center', title: 'Operation', toolbar: "#bar"}
                ]
            ]
            ,page: true
            ,limit: 10
        });

        table.on('tool(roomTable)', function (obj) {
           var data = obj.data, layEvent = obj.event;
           if (layEvent === 'del') {
               var layer = layui.layer;
               layer.open({
                   content: 'Confirm to delete?',
                   btn: ['Yes', 'No'],
                   yes: function (index, layero) {
                       $.ajax({
                           url: "/room/" + data.roomNumber,
                           async: true,
                           type:'DELETE',
                           success: function () {
                               table.reload('adminRoomTable');
                               layer.close(index);
                           }
                       })
                   },
                   btn2: function (index, layero) {
                       layer.close();
                   }
               })
           } else if (layEvent === 'edit') {
               $("#editRoomForm")[0].reset();
               $("#editRoomNumber").val(data.roomNumber);
               $("#editRoomCapacity").val(data.capacities);
               $("#editRoomPrice").val(data.price);
               layui.use('layer', function () {
                   var layer = layui.layer;
                   layer.open({
                       type: 1,
                       area:["400px", "300px"],
                       shadeClose: true,
                       title: 'Edit Meeting Room Info',
                       content: $('#roomEdit')
                   })
               });
               $("#editRoomFormButton").click(function () {
                   layui.use('layer', function () {
                       var layer = layui.layer;
                       layer.open({
                           content: 'Confirm to edit?',
                           btn: ['Yes', 'No'],
                           yes: function (index, layero) {
                               $.ajax({
                                   url: "/room/" + data.roomNumber,
                                   async: false,
                                   type: 'PUT',
                                   data: $("#editRoomForm").serialize(),
                                   success: function () {
                                       table.reload('adminRoomTable');
                                       layer.closeAll();
                                   }
                               })
                           },
                           btn2: function (index, layero) {
                               layer.close();
                           }
                       })
                   })
               })
           }
        });

        table.on('toolbar(roomTable)', function(obj){
            $("#addRoomForm")[0].reset();
            var checkStatus = table.checkStatus(obj.config.id);
            if (obj.event === 'add') {
                layui.use('layer', function () {
                    var $ = layui.jquery, layer = layui.layer;
                    layer.open({
                        type: 1,
                        area: ['400px', '300px'],
                        shadeClose: true,
                        title: 'Create New Meeting Room',
                        content: $('#roomAdd')
                    });
                })
            }
        });
    });

    $("#submitRoomFormButton").click(function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                content: 'Confirm Submission?',
                btn: ['Yes', 'No'],
                yes: function (index, layero) {
                    $.ajax({
                        url: "/room",
                        type: "POST",
                        async: true,
                        data: $("#addRoomForm").serialize(),
                        success: function () {
                            var table = layui.table;
                            table.reload('adminRoomTable', {
                                url: "/rooms",
                                page : {
                                    curr: 3
                                }
                            });
                            layer.closeAll();
                        }
                    });
                },
                btn2: function (index, layero) {
                    layer.close(index);
                }
            })
        });
    });

</script>
</body>
</html>