<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MBS Admin System</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/new-room.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><i class="layui-icon layui-icon-username" id="icon"></i><span class="system-title">Admin</span></div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    Admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">Profile</a></dd>
                    <dd><a href="">Modify Record</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">Sign Out</a></li>
        </ul>

    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">All Meeting-Rooms</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">Already Booked</a></dd>
                        <dd><a href="javascript:;">Not Booked</a></dd>
                    </dl>
                </li>
                <!--                <li class="layui-nav-item">-->
                <!--                    <a href="javascript:;">解决方案</a>-->
                <!--                    <dl class="layui-nav-child">-->
                <!--                        <dd><a href="javascript:;">列表一</a></dd>-->
                <!--                        <dd><a href="javascript:;">列表二</a></dd>-->
                <!--                        <dd><a href="">超链接</a></dd>-->
                <!--                    </dl>-->
                <!--                </li>-->
                <!--                <li class="layui-nav-item"><a href="">云市场</a></li>-->
                <li class="layui-nav-item"><a href="">Create MeetingRoom</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="new-room-form">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">Room Number</label>
                    <div class="layui-input-block">
                        <input type="text" name="roomNumber" required  lay-verify="required" placeholder="Please input the room number" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Capacity</label>
                    <div class="layui-input-block">
                        <input type="text" name="capacity" required  lay-verify="required" placeholder="Please input the room number" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Price</label>
                    <div class="layui-input-block">
                        <input type="text" name="price" required  lay-verify="required" placeholder="Please input the room number" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>


    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © JI Meeting Room Booking Admin System
    </div>

</div>
<script th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

</script>
</body>
</html>