<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>JI Meeting-Room Booking Service</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="top-bar">
        <div class="layui-logo"><i class="layui-icon layui-icon-tree"></i><span class="system-title">MBS</span></div>
        <div class="layui-nav layui-layout-left" id="search">
            <input type="text" name="title" required lay-verify="required" placeholder="Please input room number"
                   autocomplete="off"
                   class="layui-input" id="search-input">
        </div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/image/user.png}" class="layui-nav-img">
                    [[${session.user.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">Profile</a></dd>
                    <dd><a th:href="@{/user/meeting}">Booking Info</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/user/logout}">Log Out</a></li>
        </ul>
    </div>

    <div class="layui-body">
        <!-- main body area -->
        <div style="padding: 15px;">
            <table class="layui-hide" id="meetingTable" lay-filter="meetingTable"></table>
        </div>
    </div>

    <script type="text/html" id="bar">
        <button class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe637;</i>Book</button>
    </script>

    <div class="layui-footer" id="index-footer">
        <!-- footer -->
        © JI Meeting Room Booking System
    </div>


    <div id="roomBook">
        <div class="new-room-form">
            <form id="bookRoomForm" class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">Room Number</label>
                    <div class="layui-input-block">
                        <input type="text" id="bookRoomNumber" disabled name="roomNumber" lay-verify="required"
                               placeholder="Room number" autocomplete="off" class="layui-input layui-book-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Capacity</label>
                    <div class="layui-input-block">
                        <input type="text" id="bookRoomCapacity" name="capacities" disabled required
                               lay-verify="required" placeholder="Capacity" autocomplete="off"
                               class="layui-input layui-book-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Price</label>
                    <div class="layui-input-block">
                        <input type="text" id="bookRoomPrice" name="price" disabled required lay-verify="required"
                               placeholder="Price" autocomplete="off" class="layui-input layui-book-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Start Time</label>
                        <div class="layui-input-inline">
                            <input type="text" name="startTime" class="layui-input" id="start-time"
                                   placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">End Time</label>
                        <div class="layui-input-inline">
                            <input type="text" name="endTime" class="layui-input" id="end-time"
                                   placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="bookFormButton">Submit</button>
                        <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" th:value="${session.user.id}" id="bookRoomUserId" name="userId"
                               disabled required lay-verify="required"
                               placeholder="Price" autocomplete="off" class="layui-input layui-book-input">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.2.1/dist/jquery.js}"></script>
<script th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
<script th:inline="javascript">
    //JavaScript Code Area
    layui.use('element', function () {
        var element = layui.element;

    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#start-time',
            lang: 'en',
            type: 'datetime'
        });
        laydate.render({
            elem: '#end-time',
            lang: 'en',
            type: 'datetime'
        })

    });

    layui.use('table', function () {
        var table = layui.table;


        table.render({
            elem: '#meetingTable'
            , url: '/meeting/[[${session.user.id}]]'
            , cellMinWidth: 80
            , size: 'lg'
            , cols: [
                [
                    {field: 'id', title: 'Meeting ID', sort: true}
                    , {field: 'userId', title: 'User ID'}
                    , {field: 'roomNumber', title: 'Meeting Room Number'}
                    , {field: 'startTime', title: 'Start Time'}
                    , {field: 'endTime', title: 'End Time'}
                    , {fixed: '', align: 'center', title: 'Operation', toolbar: '#bar'}
                ]
            ]
            , page: true
            , limit: 10
        });

        table.on('tool(bookTable)', function (obj) {
            var data = obj.data, layEvent = obj.event;
            if (layEvent === 'edit') {
                $('#bookRoomForm')[0].reset();
                $('#bookRoomNumber').val(data.roomNumber);
                $('#bookRoomCapacity').val(data.capacities);
                $('#bookRoomPrice').val(data.price);
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 1,
                        area: ['400px', '500px'],
                        shadeClose: true,
                        title: 'Book Meeting Room',
                        content: $('#roomBook')
                    })
                });
                $('#bookFormButton').click(function () {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        var userId = $('#bookRoomUserId').val();
                        var roomNumber = $('#bookRoomNumber').val();
                        var startTime = $('#start-time').val();
                        var endTime = $('#end-time').val();
                        var data = 'userId=' + userId + '&roomNumber=' +
                            roomNumber + '&startTime=' + startTime + '&endTime=' + endTime;
                        console.log(data);
                        layer.open({
                            content: 'Confirm to book?',
                            btn: ['Yes', 'No'],
                            yes: function (index, layero) {
                                $.ajax({
                                    url: "/meeting",
                                    async: true,
                                    type: 'POST',
                                    data: data,
                                    success: function () {
                                        table.reload('roomTable');
                                        layer.closeAll();
                                    }
                                })
                            }
                        })
                    })
                })
            }
        });
    });
</script>
</body>
</html>